@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #2563eb;
  --primary-dark: #1e40af;
  --ink: #0f172a;
  --white: #ffffff;
  --black: #020617;
}

body {
  color: var(--ink);
}
